.price {
  color: black;
  padding-top: 15px;
  font-size: 25px;;
}

#contained-modal-title-vcenter {
  color: black;
  font-size: 35px;
}

.description,
.descriptHead {
    color: black;
    font-size: 18px;;
}

.description{
    text-indent: 10mm;
}
