ul {
  list-style-type: none;
  margin: 5px;
  padding: 5px;
}

li {
  float: right;
}

.nav {
  flex-direction: row;
}

a {
  display: block;
  padding: 5px;
  letter-spacing: 3px;
  text-decoration: none;
  color: black;
}

li a:hover {
  text-transform: uppercase;
  background-color: black;
  color: white;
}
